@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}


/* Navbar Styles */

.navbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 0px;
    padding-top: 18px;
    padding-bottom: 0px;
  }

.navbar h1{
  padding: 0px 20px;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  color: green;
}

.links{
  margin: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.navbar a{
  font-size: 20px;
  color: black;
  font-weight: bold;
  margin-bottom: 40px;
  padding: 0px 20px;
  text-decoration: none;
  padding-top: 30px;
  padding-bottom: 0px;
}

.navbar a:hover {
    color: green;
}



/* HomePage Styles */

  
.content {
  max-width: 600px;
  margin: 0px auto;
  padding: 20px;
}

.home {
  display: flex;
  flex-direction: column;
}

.blogPreview{
    padding: 15px 16px;
    padding-bottom: 35px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blogPreview:hover{
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

.blogPreview h2{
    color: green;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.blogPreview p{
  margin-bottom: 8px;
  color: rgba(0, 0, 0, 0.747);
}

.blogPreview a{
  text-decoration: none;
}


/* Blog Styles */

.blogDetails h2{
  color: green;
  font-size: 23px;
  margin-bottom: 15px;
}

.blogDetails p{
  font-size: 15px;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.747);
}

.blogDetails div{
  line-height: 30px;
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: green;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: green;
  color: #fff;
  border: 0;
  margin-top: 20px;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}