@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}


/* Navbar Styles */

.navbar h1{
  padding: 20px 20px;
  display: flex;
  align-items: center;
  color: green;
}

.links{
  margin: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.links a{
  font-size: 20px;
  font-weight: bold;
  color: green;
  margin-bottom: 40px;
  padding: 0px 20px;
  text-decoration: none;
}




/* HomePage Styles */



.content {
  max-width: 600px;
  margin: 10px auto;
  padding: 10px;
}

.home{
  display: block;
}


.blogPreview{
  margin: 20px 0px;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blogPreview h2{
  color: green;
  margin-bottom: 8px;
}

.blogPreview :hover h2:not(:hover) p:not(:hover){
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
